<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div>
        <h1>Tile A </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Exercitationem ducimus nihil necessitatibus molestias id quisquam aperiam impedit eum adipisci. <br> 
            Magnam autem animi veritatis ipsa minima totam distinctio eaque obcaecati sequi!</p>
    </div>

</body>
</html>