<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies-details</title>
</head>
<body>
    <h1>movies-details est : <%= title%> </h1>
    <div>
        <li> <strong>l'ID est :<%=movieid%> </strong> </li>
    </div>

   
    
</body>
</html>