/* h1{
    color: blue;
}

div{
    background-color: gold;
} */

body{
    font-family: Consolas, Monaco, "Andale Mono", monospace;
}

.central{
    min-height: 250px;
}

a{
    text-decoration: none;
}